 @import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

 html {
    background: url("../dist/images/die_bratwurst.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Germania One', cursive;
    margin: 0;
    padding: 0;
}

/* Heading Element */

#content {
    display: flex;
    flex-flow: column;
}

#header {
    display: flex;
    height: 3rem;
    color: white;
    background-color: black;
}

#red-block {
    height: 1rem;
    background-color: red;
}

#yellow-block {
    height: 1rem;
    background-color: yellow;
}

#title {
    position: absolute;
    margin: .1em;
    font-size: 3.5em;
    color: white;
}

/* Navigation Menu */

.list-class {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    padding: 0 .7em;
}

#nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

